@charset "UTF-8";
/* CSS Document */




div,p,body,header,footer,section,article,nav 
{ 
	margin: 0; 
	padding: 0; 
}	

ul, li, a
{
	text-decoration: none;
}
p
{
	line-height: 30px;
	color: #fff;
	text-align: center;
	margin: 0;

}


body 
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: #333;
}

/*index.html*/
.topBar
{
	background-color: white;
	height: 20px;
}


.hidden 
{
	display: none;
}


.headerRiver
{
	margin-left: auto;
	width: 1400px;
	height: 400px;
}

.mainNav
{
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	margin-left: 20px;
}


.mainNav ul
{
	position: absolute;
	display: flex;
	flex-direction: row;
	margin-top: 425px;
}

.mainNav ul li a
{
	margin-left: 62px;
	justify-content: space-between;
	color: white;
}


.mainNav ul 
{
  margin-left: 240px;
  position: absolute;
  list-style-type: none;
  font-size: 25px;
  font-family: Apple Chancery, cursive;
}


.mainNav p
{
	color: black;
	font-size: 25px;
	margin-top: 900px;
	margin-left: 700px;
}


.navBackground
{
	margin-top: 0px;
	background: #1d8a99;
	width: 1400px;
	height: 76px;
    border-radius: 0px 0px 20px 20px;
    border-bottom: 2px solid white;
}


.logo
{
	position: absolute;
	width: 203px;
	height: 180px;
	margin-top: 120px;
	margin-left: 100px;
}

.mainInfo
{
	margin-left: 20px;
	margin-right: 20px;
	display: flex;
	flex-direction: row;
}


/*Main Infomation*/
.infoBackground
{
	background: #464747;
	width: 1400px;
	height: 1400px;
	border-radius: 20px;
}


.riverWork
{
	position: absolute;
	border-radius: 20px 20px 0px 20px;
	border: 5px solid white;
	margin-left: 30px;
	width: 571px;
	height: 563px;
	margin-top: 30px;

}


.generalMeetings 
{
	position: absolute;
	color: black;
	margin-top: 80px;
	margin-left: 630px;
	font-size: 36px;
	color: white;
	font-family: Apple Chancery, cursive;
}


.newYear
{
	position: absolute;
	margin-left: 611px;
	margin-top: 140px;
	width: 740px;
	height: 443px;
	background-color: #cdcdcd; 
	border-radius: 0px 20px 0px 0px;
	background-image: linear-gradient(grey, #cdcdcd);
	border: 10px solid #339999;
}


.newyearTitle 
{
	position: absolute;
	margin-top: 160px;
	margin-left: 850px;
	font-family: Apple Chancery, cursive;
}

.newyearTitle 
{
	font-size: 36px;
	color: black;
}


.newyearText p
{
	flex-direction: column;
	font-family: Helvetica;
}


.newyearText p
{
	position: absolute;
	margin-top: 210px;
	margin-left: 690px;
	margin-right: 120px;
	color: black;
	font-size: 20px;
	font-family: Helvetica;
}

.membership
{
	background-color: #cdcdcd; 
	background-image: linear-gradient(grey, #cdcdcd);
	width: 540px;
	height: 526px;
	margin-top: 750px;
	margin-left: 75px;
}

.fundraising
{
	background-color: #cdcdcd; 
	background-image: linear-gradient(grey, #cdcdcd);
	width: 540px;
	height: 526px;
	margin-top: -526px;
	margin-left: 785px;
}


.membershipTitle 
{
	position: absolute;
	margin-top: -575px;
	margin-left: 230px;
	font-family: Apple Chancery, cursive;
}

.membershipTitle 
{
	font-size: 36px;
	color: white;
}


.fundraisingTitle 
{
	font-size: 36px;
	color: white;
}


.fundraisingTitle 
{
	position: absolute;
	margin-top: -575px;
	margin-left: 950px;
	font-family: Apple Chancery, cursive;	
}


.memebershipText p
{
	position: absolute;
	margin-top: -510px;
	margin-left: 100px;
	margin-right: 850px;
}


.memebershipText p
{
	font-size: 20px;
	color: black;
	flex-direction: column;
	font-family: Helvetica;
}


.fundraisingText p
{
    position: absolute;
	margin-top: -510px;
	margin-left: 800px;
	margin-right: 100px;
}


.fundraisingText p
{
	font-size: 20px;
	color: black;
	flex-direction: column;
	font-family: Helvetica;

}


.button1 
{
	display: block;
	margin-left: 205px;
    background-color: #61a3c1;
	display: block;
	width: 200px;
	padding: 25px;
	text-align: center;
	margin-top: -80px;
	color: #fff;
	font-weight: bold;
	background-image: linear-gradient(#57929f, #72bec4, #57929f);
	border: 5px solid white;
	border-radius: 20px;
}


.button1:hover
{
	background-color: white;
}



.button2
{
	display: block;
	margin-top: -60px;
	display: block;
	margin-left: 920px;
    background-color: #61a3c1;
	display: block;
	width: 200px;
	padding: 25px;
	text-align: center;
	margin-top: -70px;
	color: #fff;
	font-weight: bold;
	background-image: linear-gradient(#57929f, #72bec4, #57929f);
	border: 5px solid white;
	border-radius: 20px;
}


.button2:hover
{
	background-color: white;
}


.traaTitle
{
	position: absolute;
    font-family: Apple Chancery, cursive;
    color: white;
    margin-left: 50px;	
    margin-top: 70px;
    font-size: 36px;
}

/*Third Main Infomation*/


.parnters
{
	display: flex;
	margin-left: auto;
}


.supporters_Melchers
{
	width: 274px;
	height: 84px;
	margin-top: 100px;
	margin-left: 130px;
}


.melchersSupporters p 
{
	font-size: 20px;
	color: black;
	flex-direction: column;
}


.melchersSupporters p
{
	font-family: Helvetica;
	margin-top: 200px;
	margin-left: -310px;
	margin-right: 1000px;
}


.suppoertersGuillevin
{
	display: flex;
	flex-direction: column;
}


.supporters_guillevin
{
	width: 345px;
	height: 95px;
	margin-top: -380px;
	margin-left: 510px;
}



.gullevinsupporters p
{
    font-size: 20px;
	color: black;
	flex-direction: column;
}


.gullevinsupporters p
{
    font-family: Helvetica;
	margin-top: 14px;
	margin-right: 550px;
	margin-left: 500px;
}


.supportersMuma
{
	display: flex;
	flex-direction: row;
}


.supporters_muna
{
	width: 345px;
	height: 95px;
	margin-top: -460px;
	margin-left: 950px;
}


.supportersmuna p
{
	font-size: 20px;
	color: black;
	flex-direction: column;
}


.supportersmuna p
{
	font-family: Helvetica;
	margin-top: -355px;
	margin-right: 183px;
	margin-left: -350px;

}


.tryRecycling
{
	display: flex;
}


.try_reycling
{
	width: 296px;
	height: 100px;
	margin-left: 310px;
	margin-top: 80px;
}


.tryrecycling p
{
    font-size: 20px;
	color: black;
	flex-direction: column;
}


.tryrecycling p
{
    font-family: Helvetica;
	margin-top: 210px;
	margin-right: 830px;
	margin-left: -350px;
}


.anglingsport
{
	display: flex;
}


.angling_Sports
{
	position: absolute;
    width: 140px;
	height: 156px;
	margin-top: -170px;
	margin-left: 880px;
}


.Anglingsports p
{
	font-size: 20px;
	color: black;
	flex-direction: column;
}


.Anglingsports p
{
	font-family: Helvetica;
	margin-top: -235px;
	margin-right: 250px;
	margin-left: 750px;

}

/*Footer*/


.footerbar
{
	display: flex;
	margin-left: auto;
}


.footerbar
{
	background-color: #444545;
	width: 1400px;
	height: 79px;
	margin-top: 300px;
	margin-left: 20px;
	margin-right: 20px;
}


.footer
{
	background-color: #1d8a99;
	width: 1400px;
	height: 220px;
	margin-top: 5px;
	margin-left: 20px;
	margin-right: 20px;
}


.footerLogo
{
    position: absolute;
	width: 203px;
	height: 180px;
	margin-top: -200px;
	margin-left: 70px;
		
}

.footertext
{
	display: flex;
	flex-direction: row
}


.footertext p
{
	position: absolute;
	margin-top: -215px;
	font-size: 18px;
	color: white;
	font-family: Apple Chancery, cursive;
	margin-left: 299px;
	margin-right: 850px;
}


.mainFooter ul
{
	position: absolute;
	display: flex;
	flex-direction: row;
	margin-top:-120px;
	margin-left: 500px;;
}

.mainFooter ul li a
{
	margin-left: 90px;
	justify-content: space-between;
	color: white;
}


.mainFooter ul 
{
  position: absolute;
  list-style-type: none;
  font-size: 18px;
  font-family: Apple Chancery, cursive;
}


.copyRight
{
  position: absolute;
  list-style-type: none;
  font-size: 18px;
  font-family: Apple Chancery, cursive;
  margin-top: -30px;
  margin-left: 980px;
}



.icons ul
{
	margin-left: 690px;
	margin-top: -55px;
}

.icons ul li a
{
	margin-left: 5px;
}
